body {
	background:gray;
	font-family: arial;
	margin:0px;
	padding:0%;
}
.header{
	background:black;
	font-color:white;
	margin-top: 0%;
	font-family: arial;
	padding: 2.5%;
	margin-bottom: 50px;
}
h1{
	color:white;
	text-align:center;
	margin:0px;
	padding:0px;
}
.boxw1{
	width:95%;
	font-color:black;
	
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 50px;
	
}
.box2{
	width:95%;
	height:80px;
	background: lightgrey;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom:50px;
	padding-bottom: 12px;
	padding-top:0.05px;
	padding-left:5px;
}
#com1{
	color: black;
	font-size: 15px;
}
.box3{
	width:95%;
	height:80px;
	background: lightgrey;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom:50px;
	padding-bottom: 12px;
	padding-top:0.05px;
	padding-left:5px;	
}
#larry{
	color: black;
	font-size: 15px;
	font-weight:bold;
}
#com2{
	color: black;
	font-size: 15px;
}
.box4{
	width:95%;
	height:80px;
	background: lightgrey;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom:50px;
	padding-bottom: 12px;
	padding-top:0.05px;
	padding-left:5px;
}
#sergay{
	color: black;
	font-size: 15px;
	font-weight:bold;	
}
.box5{
	width:95%;
	height:80px;
	background: lightgrey;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom:50px;
	padding-bottom: 12px;
	padding-top:0.05px;
	padding-left:5px;
}
#jeff{
	color: black;
	font-size: 15px;
	font-weight:bold;
}
img{
	width:40px;
	height:40px;
	border-radius: 50%;
}