body{
	background:gray;
	font-family: arial;
	margin:0px;
	padding:0%;
}
.header{
	background:black;
	font-color:white;
	margin-top: 0%;
	font-family: arial;
	padding: 2.5%;
	margin-bottom: 50px;
}
h1{
	color:white;
	text-align:center;
	margin:0px;
	padding:0px;
}
.boxw1{
	width:95%;
	font-color:black;
	
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 50px;
	
}
.box2{
	width:95%;
	height:240px;
	background: white;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom:50px;
	padding-bottom: 12px;
	padding-top:15px;
	padding-left:5px;
}
.post{
	color:grey;
	font-color:black;
}
.np{
	font-weight:bold;
	font-size: 20px;
}
#form_id{
	width:98%;
}
#link_input{
	width:98%;
}
#commentinput{
	width:98%;
}
#todo-input{
	width: 98%;
}
#pro{
	float: right;
}
#form_1 input[type=text] {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    width: 200px;
    height: 160px;
    padding: 6px 6px;
    box-sizing: border-box;
    border-top: 40px solid #FFFF88;
    background-color: white;
    text-align: top;    
}
img{
	text-align:center;
	margin-top:20px;

}
.container {
        margin-left:-13.5%;
        padding-left:15%;
    }
.pb{
	width:90%;
	height:900px;
	background: white;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom:50px;
	padding-bottom: 12px;
	margin-top: 0%;
	padding-top:0%;
	padding-left:15px;
}
#name1{
	margin-top:5%;
	padding-top:2%;
	font-weight:bold;
}
#photo{
	margin-top:0%;
	padding-top:0%;
	font-weight:bold;
	
}
#bio{
	font-weight:bold;
}
#ep{
	font-weight: bold;
	font-size: 30px;
}
#name{
	margin-top:0%;
	padding-top:0%;
	font-weight:bold;
}
#todo-input2{
	width: 10%;
}
#link_input2{
	width:10%;
}
#photo{
	padding-bottom:0%;
	margin-bottom:0%;
}
#bio{
	padding-top:0%;
	margin-top:0%;
}
.new_post{
	overflow-x: auto;
    background-color:white;
    display:inline-block;
  	position:relative;
    width:14vw;
  	margin:15px;
    text-align:center;
    height:200px;
}
.XI{
	position:absolute;
	top:0px;
	right:5px;
}